<!-- ./server/djangoapp/templates/djangoapp/about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    <h1>Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</h1>
    <!-- Add additional information here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'static_template' %}">Home</a>
                <a class="navbar-brand" href="{% url 'about_us' %}">About Us</a>
            </div>
        </div>
    </nav>
</body>
</html>
